<div class="container">
   <div class="row justify-content-md-center">
         <div class="col-lg-4">
           <p>Welcome, please sign in</p>
         </div>
    </div>
  <div class="row justify-content-start">
    <div class="col-lg-4">
      <button class="btn btn-lg btn-primary btn-block">button 1</button>
    </div>
    <div class="col-lg-4">
      <button class="btn btn-lg btn-primary btn-block">button 2</button>
    </div>
    <div class="col-lg-4">
      <button class="btn btn-lg btn-primary btn-block">button 3</button>
    </div>
  </div>
</div>
