<div class="container">
   <div class="row justify-content-md-center">
         <div class="col-lg-4">
           <p>Welcome, please sign in</p>
         </div>
    </div>
  <div class="row justify-content-start">
    <div class="col-lg-4">
      <button class="btn btn-lg btn-primary btn-block">נושאים נוספים</button>
    </div>
    <div class="col-lg-4">
      <button class="btn btn-lg btn-primary btn-block">חווית המטול</button>
    </div>
    <div class="col-lg-4">
      <button class="btn btn-lg btn-primary btn-block">פעילויות</button>
    </div>
  </div>
</div>
